

<h1>Siemens Products</h1>

<div class="work">
    <h2>WashingMachine</h2>
    <a href="#">
        <img src="~/img/Products/SiemensWashingMachine.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 215USD, Discount 10%</h1>
            </div>
        </div>
    </a>
</div>

<div class="work">
    <h2>Fridge</h2>
    <a href="inner.html">
        <img src="~/img/Products/SiemensFridge.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 260USD, Discount 5%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Oven</h2>
    <a href="inner.html">
        <img src="~/img/Products/SiemensOven.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 99USD, Discount 0%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>TV</h2>
    <a href="inner.html">
        <img src="~/img/Products/SiemensTv.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 421USD, Discount 50%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Kettle</h2>
    <a href="inner.html">
        <img src="~/img/Products/SiemensKettle.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 15USD, Discount 50%</h1>
            </div>
        </div>
    </a>
</div>




