

<h1>Swarovskiy Products</h1>

<div class="work">
    <h2>New Arrivals</h2>
    <a href="#">
        <img src="~/img/Products/SwarovskiyNewArrivals.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 35USD, Discount 5%</h1>
            </div>
        </div>
    </a>
</div>

<div class="work">
    <h2>Accessories</h2>
    <a href="inner.html">
        <img src="~/img/Products/SwarovskiyAccessories.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 49USD, Discount 20%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Gifts</h2>
    <a href="inner.html">
        <img src="~/img/Products/SwarovskiyGifts.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 55USD, Discount 15%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Ornaments</h2>
    <a href="inner.html">
        <img src="~/img/Products/SwarovskiyOrnament.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 20USD, Discount 50%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>SCS</h2>
    <a href="inner.html">
        <img src="~/img/Products/SwarovskiySCS.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 33USD, Discount 40%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Watch</h2>
    <a href="inner.html">
        <img src="~/img/Products/SwarovskiyWatch.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 33USD, Discount 40%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Collection</h2>
    <a href="inner.html">
        <img src="~/img/Products/SwarovskiCollection.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 33USD, Discount 40%</h1>
            </div>
        </div>
    </a>
</div>






