
<h1>Zara Products</h1>

<div class="work">
    <h2>New In</h2>
    <a href="#">
        <img src="~/img/Products/ZaraNewIn.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 35USD, Discount 5%</h1>
            </div>
        </div>
    </a>
</div>

<div class="work">
    <h2>Woman</h2>
    <a href="inner.html">
        <img src="~/img/Produts/ZaraWoman.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 49USD, Discount 20%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>TRF</h2>
    <a href="inner.html">
        <img src="~/img/Products/ZaraTRF.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 55USD, Discount 15%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Man</h2>
    <a href="inner.html">
        <img src="~/img/Products/ZaraMan.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 20USD, Discount 50%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Kids</h2>
    <a href="inner.html">
        <img src="~/img/Products/ZaraKid.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 33USD, Discount 40%</h1>
            </div>
        </div>
    </a>
</div>
<div class="work">
    <h2>Editorial</h2>
    <a href="inner.html">
        <img src="~/img/Products/ZaraEditorials.jpg" class="media" alt="" />
        <div class="caption">
            <div class="work_title">
                <h1>Price 33USD, Discount 40%</h1>
            </div>
        </div>
    </a>
</div>



