@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Wishop Our mission is to provide you with an outstanding member/Customer benefit that helps you meet your organization's objectives. We work very hard to understand your objectives, then create a program that can help you meet them. Whether you want to attract new members, retain existing ones, drive incremental sales, or reinforce member or brand loyalty, we will work with you to help you achieve those goals.</p>
