@{
    ViewBag.Title = "Home Page";
}

    <div class="work" style="width:80%">
        <a href="inner.html">
            <img src="~/img/wiLogo.jpg" class="media" alt="" />
            <div class="caption">
                <div class="work_title">
                    <h1>CANBERK AYMAK</h1>
                </div>
            </div>
        </a>
    </div>